src/main/java/com/cultuzz/channel/XSD/AnswerBuyerMessageRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Fri Nov 11 2016 11:48:29 GMT+0530 (IST) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
		<xs:include schemaLocation="SimpleTypes.xsd" />
       <xs:element name="AnswerBuyerMessageRQ">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="AuthenticationCode" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="SourceId" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="ChannelId" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="ObjectId" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
		            <xs:element name="ErrorLang" type="xs:string"></xs:element>
                            <xs:element name="MemberMessages">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="MemberMessage">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="ItemId" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                                                                      <xs:element name="BuyerName" type="xs:string"  minOccurs="0" maxOccurs="1" ></xs:element>
                                                                      <xs:element name="SellerName" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                      <xs:element name="Subject" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                      <xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                      <xs:element name="CreationDate" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                      <xs:element name="OfferTitle" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                                                                      <xs:element name="Question" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                                                                      <xs:element name="Answer" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="TimeStamp" type="xs:string" use="required"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>


