src/main/java/com/cultuzz/channel/XSD/MemberMessageDetailsRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Jan 04 2017 15:18:36 GMT+0530 (IST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	
         <xs:element name="MemberMessageDetailsRS">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Ack" type="xs:string"></xs:element>
                           <xs:element name="ObjectId" type="xs:string"></xs:element>
                           <xs:element name="ChannelId" type="xs:string"></xs:element>
                           <xs:element name="MemberMessage">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="ItemId" type="xs:string"></xs:element>
                                             <xs:element name="BuyerName" type="xs:string"></xs:element>
                                             <xs:element name="Subject" type="xs:string"></xs:element>
                                             <xs:element name="CreationDate" type="xs:string"></xs:element>
                                  	     <xs:element name="RepliedDate" type="xs:string"></xs:element>
                                             <xs:element name="Question" type="xs:string"></xs:element>
                                             <xs:element name="Answer" type="xs:string"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Errors" type="ErrorsType" minOccurs="0" maxOccurs="1">
                                </xs:element>
		     </xs:sequence>
                     <xs:attribute name="TimeStamp" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
	
