src/main/java/com/cultuzz/channel/XSD/OfferReviseReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Dec 06 2016 15:34:22 GMT+0530 (IST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:include schemaLocation="CommonTypes.xsd" />
         <xs:element name="OfferReviseRQ">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="AuthenticationCode" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                           <xs:element name="SourceId" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                           <xs:element name="ChannelId" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                           <xs:element name="ObjectId" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                           <xs:element name="ErrorLang" type="xs:string"></xs:element>
			   <xs:element name="EbayItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                           <xs:element name="Price" type="xs:string" minOccurs="0" maxOccurs="1"/>
			   <xs:element name="RetailPrice" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element> 
			   <xs:element name="Quantity" type="xs:string" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="QuantityRestriction" type="xs:string" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="ReviseTime" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
			   <xs:element name="RemoveFields" type="RemoveFieldsType" minOccurs="0" maxOccurs="1"></xs:element>
                     </xs:sequence>
                     <xs:attribute name="TimeStamp" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>

