src/main/java/com/cultuzz/channel/XSD/TemplateCopyRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Fri Nov 11 2016 10:44:38 GMT+0530 (IST) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:include schemaLocation="CommonTypes.xsd" />       
	<xs:element name="TemplateCopyRS">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="Ack" type="xs:string" minOccurs="1"  maxOccurs="1"></xs:element>
                            <xs:element name="TemplateId" type="xs:int" minOccurs="0"  maxOccurs="1" default="null"></xs:element>
                      <xs:element name="Errors" type="ErrorsType" minOccurs="0" maxOccurs="1"></xs:element>
                        </xs:sequence>
                     <xs:attribute name="TimeStamp" type="xs:string"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
